*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body   
{
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray; 
   
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    background: gray;
  }
  
  ::-webkit-scrollbar-thumb:vertical:before,
  ::-webkit-scrollbar-thumb:vertical:after {
    content: ''; 
    height: 10px;
    display: block;
    background: transparent;
  }

a
{
    text-decoration: none;
    color:#7c7c7c;
}
.container
{
    /* display: grid;
   
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header " 
        "slide-bar main " 
        "slide-bar footer";
    gap: 10px; */
    display: flex;
}
.header
{
    background-color:black;
    grid-area: header;
    padding: 8px;
    width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   
  
}
.header .header__top 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__logo

{
    margin-left: 12px;
}
.header .header__top .header__logo a
{
    display: flex;
    align-items: center;
    margin: 8px;
   
}
.header__search
{   display: flex;
    margin: 0 8px;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
}
.search__home
{
    outline: none;
    border: none;
    background-color:#1f1f1f;
    border-radius: 40px;
    padding: 12px;
    margin: 0 8px;
    
}
.search__home span
{
    width: 20px;
    display: inline-block;
   
}
.header__input 
{
    width: 474px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    border-radius: 32px;
    color: #818181;
    /* box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .1); */
}
.header__input .Svg-sc-ytk21e-0, .Svg-sc-ytk21e-01,.Svg-sc-ytk21e-02
{
    height: 24px;
    width: 48px;
   
}
.header__input .input__search
{
    line-height: 40px;
    font-size: 16px;
    width: 375px;
    border: none;
    outline: none;
    background-color: #1f1f1f;
    color:white;
    
}
.header__login
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

 .btn_sign_up
{
    padding: 8px 32px 8px 8px;
    border: none;
    outline: none;
    color:#b3b3b3 ;
    background-color: black;
    font-size: inherit;
    font-weight: 700;
    cursor: pointer;
}
.btn_login
{
    padding: 0 32px;
    border-radius: 32px;
    border: none;
    outline: none;
    line-height: 47px;
    cursor: pointer;
}
.btn_login span
{
    font-size: 16px;
    font-weight: bold;
    
}
.header__login:hover>.btn_login>span
{
    background-color: red;
}
.Svg-sc-ytk21e-0
{
    fill: white;
}
.Svg-sc-ytk21e-01
{   
    border-inline-start: 1px solid #7c7c7c;
}
.Svg-sc-ytk21e-01,.Svg-sc-ytk21e-02
{   
    fill:#b3b3b3;
}
.Svg-sc-6c3c1v-0
{
    fill: white;
}
.slide_bar
{
    background: black;
    width: 28.5%;
    padding: 0 8px;
    height: 100vh;
    position: fixed;
    top: 64px;
    
}
.slide_bar .slide
{
    border-radius: 12px;
    background-color: #121212;

}
.slide .text
{
    padding: 12px 16px 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.slide_bar_left
{
    background-color: #121212 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
}

.icon_slide
{
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 4px 5px;
    /* margin-left: 4px; */
    cursor: pointer;
  
}
.icon_library
{
    width: 25px;
    display: inline-block;
    margin-left: 3px;
    margin-right: 12px;
}
.icon_library .Svg-sc-ytk21e-0 
{
    width: 25px;

}
.btn_plus
{
    padding: 8px;
    background: #121212;
    border: none;
}
.btn_plus span
{
    width: 15px;
    display: inline-block;
    height: 15px;
}
.slide_bar_list
{
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create_list,.find_list
{
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    background: #1f1f1f !important;
    border-radius: 12px;
}
.create_list .text_list, .find_list .text_list
{
    color: white;

}
.space
{
    margin: 19px 16px;
}
.text_list
{
    font-size: 16px;
    font-weight: 700;
}
.text_help
{
    font-size: 14px;
    color: white;
    
}
.create_list .btn_create,.find_list button
{
    padding: 5px 16px;
    background-color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn_create span, button span
{
    color: black;
    font-weight: 500;
    font-size: 14px;
}
.footer_slide_bar .footer_slide
{
    margin: 32px 0;
    padding:  0 24px;

}
.security
{
    display: flex;
    flex-wrap: wrap;
  
}
.security >div
{
    margin: 0 16px 8px 0 ;
}
.security > div > a
{
    margin-bottom: 8px;
}
.security > div > a>span
{
    color: #A9AEB3;
    font-weight: 500;
    font-size: 11px;
   
}
.footer_cookie
{
    color: white;
    font-size: 12px;
}
.language_footer
{
 
    padding: 0 24px 24px;
}
.language_footer button
{
    background-color: black;
    border: 1px solid #7c7c7c; 
    padding: 5px 15px 5px 30px;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    position: relative;
}
.language_footer button span
{
    position: absolute;
    top: 4px;
    left: 10px;
    width: 16px;
    display: inline-block;
    
}
.main   
{
    background-color: blueviolet;
    position: absolute;
    top: 65px;
    left: 29%;
}
.footer
{
    background-color: beige;
    grid-area: footer;
}
